.extra-border-radius {
    border-radius: 15px;
    margin-bottom: 20px;
}

.header-flex-container {
    display:flex;
    align-items: stretch;
    justify-content: space-between;
}

.task-title {
    text-align: left;
    font-size: 1.15em;
}