<!-- container for displaying individual tasks -->
<div class="task-card-flex-container"><!--Flex Container-->

    <!--Format Title and Edit Button-->
    <div class="task-header-flex-container">
         <!-- tasks component -->
         some word
        <button 
            mat-mini-fab color="accent" 
            class="mat-elevation-z4"
            (click)="toggleEdit()">
            <mat-icon>{{icon}}</mat-icon>
        </button>
    </div>

    <!--Format Description box-->
    <div class="font-style">
        Description goes here . . .
    </div>
</div>
<!-- end of container for tasks -->
