<div class="signup">
    <h1>Sign Up</h1>
    <form class="example-form">
        <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Last Name </mat-label>
            <input matInput>
        </mat-form-field></td>
        </tr></table>
    
        <p>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="bob@example.com">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Address</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
        </p>
    
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td><mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="Ex. San Francisco">
                </mat-form-field></td>
                <td><mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>State</mat-label>
                        <input matInput placeholder="Ex. California">
                    </mat-form-field>
                </td>
                <td><mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Postal Code</mat-label>
                        <input matInput #postalCode maxlength="5" placeholder="Ex. 94105">
                        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </form>
</div>

