<div class="container background-image">
    <div class="base-card-container">

        <!--HEADER containing NavMenu Trigger and ListTitle, ListSubtitle-->
        <div class="header-flex-item">
            <div>
                <button mat-fab color="accent" class="mat-elevation-z4"><mat-icon>menu</mat-icon></button>
            </div>

            <!-- need logic for populating tasks & tie to add new tasks btn -->

            <div style="text-align: right; margin-bottom: 50px;">
                <h2 style="margin:0; color: white;">{{title}}</h2>
                <h4 style="margin:0; color: white;">Testing UI Layout</h4>
            </div>
        </div>

        <!--MAIN container for task display-->
        <div class="content-flex-item">
            <app-to-do-list-draft></app-to-do-list-draft>
        </div>

        <!--FOOTER containing CompletedTasks-->
        <div class="footer-flex-item">
            <div>
                Completed Tasks Show Here
            </div>
        </div>
        
    </div>
</div>