<div class="container background-image">
    <mat-card class="base-card-margins">

        <!-- add sidenav menu? -->

        <!-- container for title and menu button -->
        <div class="header-flex-container">
            <div>
                <button mat-fab color="accent" class="mat-elevation-z4"><mat-icon>menu</mat-icon></button>
            </div>

            <!-- need logic for populating tasks & tie to add new tasks btn -->

            <div style="text-align: right; margin-bottom: 50px;">
                <mat-card-title>{{title}}</mat-card-title>
                <mat-card-subtitle>Testing UI Layout</mat-card-subtitle>
            </div>
        </div>
        <!-- end of container for title and menu button -->

        <!-- displaying tasks -->
        <div> <!--class="tasks-flex-container"-->
        <app-to-do-list-draft></app-to-do-list-draft>
        <app-to-do-list-draft></app-to-do-list-draft>
        </div>
        
        <!-- button to add a new task is contained in card footer -->
        <mat-card-footer>
            <app-add-new-task></app-add-new-task>
        </mat-card-footer>


    </mat-card>
</div>